/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@theme {
  --font-montserrat: Montserrat, sans-serif;
}
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

@layer base {
  @font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  }
}
